@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu CSS a mano, debajo */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.moving-image {
  position: absolute;
  width: 200px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  padding: 2vw; /* Ajuste dinámico del padding según el tamaño de la pantalla */
}

.logo {
  width: 20vw; /* Ajusta el tamaño del logo proporcionalmente al ancho de la pantalla */
  max-width: 150px; /* Limita el tamaño máximo del logo */
  height: auto;
}

.qr-container {
  padding: min(7vw, 25px);
  background-color: #181818;
  border-width: 2px;
  border-color: #323635;
  border-style: solid;
  border-radius: 10px;
}

.qr-code {
  width: 30vw; /* El tamaño del QR se ajusta según el ancho de la pantalla */
  max-width: 230px; /* Limita el tamaño máximo del QR */
  height: auto;
}

.store-logo {
  width: 5vw; /* Ajusta el tamaño de los logos de las tiendas según el ancho de la pantalla */
  max-width: 25px; /* Limita el tamaño máximo */
  height: auto;
}

@media screen and (max-width: 768px) {
  /* Ajustes para pantallas más pequeñas */
  .centered-container {
    max-width: 95vw;
  }

  .logo {
    width: 30vw;
  }

  .qr-code {
    width: 40vw;
  }

  .store-logo {
    width: 8vw;
  }

  /* Reduce el gap entre los logos de las tiendas en pantallas más pequeñas */
  .qr-container div {
    gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  /* Ajustes adicionales para pantallas muy pequeñas */
  .qr-container div {
    gap: 20px;
  }
}

